body {
    background-color: #f4f4f4;
}

ul {
    list-style: none;
}

vinyl > div{
    background: #e8e8e8;
    border-radius: 8px;
    margin: 5px;
    padding: 3px;
    font-size: 1.4em;
}

vinyl img {
    margin: 8px;
    width: 100%;
    height: 100%;
}

.album {
    font-weight: bold;
}